#main-privacy{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .privacy-div{
        width: 90vw;
        height: 70vh;
        padding: 50px;
        background-color: rgba(255, 255, 255, 0.183);
        text-align: start;
    }
}
